/* reset css  =  anula os valores que os navegadores trazem por padrão para margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* declarando variáveis */

:root {
    --vermelho: #e50914;
    --preto:#141414;
}

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
 
header .logo {
    color: var(--vermelho);
    font-family: 'Ariel Black', Times; 
    font-size: 40px;
    margin-left: 5px;
}

header .navbar a{
    text-decoration: none;
    margin-right: 10px;
    color:#AAA;
}

header .navbar a:hover{
    color:#ffff;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("./imgs/rectify.jpg");
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    font-size: 32px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
    
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: rgba(0,0,0,.90);
    font-weight: bold;
}

.botao i{
    margin-right: 8px; 
}